a
{
    color: rgb(113, 35, 185);
}
a.project-list
{
    color: black;
    padding: 2px;
}
span
{
    color: rgb(113, 35, 185);
}
hr{
    border-width: 1px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: #13113a;
}
.media-img{
    border-radius: 50%;
    padding: 1%;
}